.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.modal__form {
  margin: 32px 0 0 0;
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  background-color: #212121;
  color: #fcf5e5;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 32px 20px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__input {
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: 100%;
    height: auto;
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
    font-size: 14px;
  }
}
